@model ML.Empleado
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row text-center">
    <div class="col col-lg-12">
        <h1>@ViewBag.Accion Empleado</h1>
    </div>
</div>

<form class="row" asp-controller="Empleado" asp-action="Form" method="post" enctype="multipart/form-data">


<div class="col-lg-6">

    <div class="row">

        <fieldset>
            <legend>Datos personales</legend>


                <input type="text" class="form-control visually-hidden" value="@Model.NumeroEmpleado" name="NumeroEmpleado" autocomplete="off">


            <label>Nombre</label>
            <input type="text" class="form-control" value="@Model.Nombre" name="Nombre" autocomplete="off">
           

            <br>


            <label>Apellido Paterno</label>
            <input type="text" class="form-control" value="@Model.ApellidoPaterno" name="ApellidoPaterno" autocomplete="off">


            <br>


            <label>Apellido Materno</label>
                <input type="text" class="form-control" value="@Model.ApellidoMaterno" name="ApellidoMaterno" autocomplete="off">
            



            <br>


            <label>RFC</label>
                <input type="text" class="form-control" value="@Model.RFC" name="RFC" autocomplete="off">


            <br>


            <label>NSS</label>
            <input type="text" class="form-control" value="@Model.NSS" name="NSS" autocomplete="off">


            <br>

            <label>Fecha de nacimiento</label>
                <input type="date" class="form-control" value="@Model.FechaNacimiento" name="FechaNacimiento" autocomplete="off">

           
        </fieldset>
    </div>
</div>

<div class="col-lg-6">
    <div class="row">
        <fieldset>
            <legend>Cuenta</legend>

            <label>Email</label>
                <input type="email" class="form-control" value="@Model.Email" name="Email" autocomplete="off">


            <br>


            <label>Telefono</label>
                <input type="text" class="form-control" value="@Model.Telefono" name="Telefono" autocomplete="off">


            <br>

            <label>IdEmpresa</label>
                <input type="number" class="form-control" value="@Model.IdEmpresa" name="IdEmpresa" autocomplete="off">


            <br>

                <input type="file" id="fuFoto" name="fuFoto" onchange="PreviewFoto(event)" />

            <br>
            <br>

            @if (Model.Foto == null)
            {
                    <img src="https://thumbs.dreamstime.com/b/perfil-de-usuario-vectorial-avatar-predeterminado-179376714.jpg" id="fotoEmpleado" style="width: 150px; height:150px;" />
            }
            else
            {
                <img src="data:image/png;base64,@Convert.ToBase64String(Model.Foto)" id="fotoEmpleado" style="width: 150px; height:150px;" />
            }

                <br>
                <br>
                <br>
                <br>

        </fieldset>
    </div>

    <input type="submit" class="btn btn-success" value="@ViewBag.Accion" />
</div>


</form>



<script type="text/javascript">

    function PreviewFoto(event) {
        var img = document.getElementById('fotoEmpleado');
        img.src = URL.createObjectURL(event.target.files[0]);
        img.onload = function () {
            URL.revokeObjectURL(img.src)
        }

    }
</script>

